#s-1d16dcef-6f8b-4fc5-a3cf-70d4b9371691 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d16dcef-6f8b-4fc5-a3cf-70d4b9371691 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d16dcef-6f8b-4fc5-a3cf-70d4b9371691 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d16dcef-6f8b-4fc5-a3cf-70d4b9371691 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}